{% extends 'frdm-kw41z.jinja2' %}
{% set board_id = '0201000032254e4500178002ab9a0009c0b1000097969900' %}
{% set usb_mass_device = '/dev/disk/by-id/usb-MBED_VFS_0201000032254e4500178002ab9a0009c0b1000097969900-0:0' %}
{% set connection_list = ['usb0'] %}
{% set connection_tags = {'usb0': ['primary', 'telnet']} %}
{% set connection_commands = {'usb0': '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0 --command {{ LAVA_TESTS_ROOT }}/commands.yaml'} %}
{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
