{% extends 'frdm-k64f.jinja2' %}
{% set board_id = '024002019EBF4E5B6341B3E3' %}
{% set usb_mass_device = '/dev/disk/by-id/usb-MBED_microcontroller_024002019EBF4E5B6341B3E3-0:0' %}
{% set connection_list = ['usb0'] %}
{% set connection_tags = {'usb0': ['primary', 'telnet']} %}
{% set connection_commands = {'usb0': '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0 --command {{ LAVA_TESTS_ROOT }}/commands.yaml'} %}
{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
