{% extends 'sun8i-h2-plus-bananapi-m2-zero.jinja2' %}

{% set connection_command = '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0 --command {{ LAVA_TESTS_ROOT }}/commands.yaml' %}

{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}

{% set uboot_mass_storage_device = '/tmp/usb-Linux_UMS_disk_0_bananapi-m2-zero-02c000422bd9dfde-0:0' %}
