{% extends 'juno.jinja2' %}

{% set storage_info = [{'SATA': '/dev/disk/by-id/ata-SanDisk_SDSSDA120G_165193462613'}] %}

{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}

{% set connection_list = ['uart0'] %}
{% set connection_commands = {'uart0': '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0 --command {{ LAVA_TESTS_ROOT }}/commands.yaml --context {{ LAVA_TESTS_ROOT }}/context.yaml --level DEBUG'} %}
{% set connection_tags = {'uart0': ['primary', 'telnet']} %}

{% set usb_filesystem_label = 'JUNOR201' %}
{% set device_ip = '10.7.0.80' %}
{% set device_mac = '00:02:f7:00:75:c1' %}
{% set vexpress_sky2_mac = '0x00,0x02,0xF7,0x00,0x75,0xc1' %}
