{% extends 'x86.jinja2' %}

{% set shutdown_message = 'reboot: Restarting system' %}
{% set extra_nfsroot_args = (',vers=3') %}
{% set extra_kernel_args = 'rootwait vga=792' %} 

{% set connection_command = '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --level DEBUG --jitter 0 --command {{ LAVA_TESTS_ROOT }}/commands.yaml' %}

{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
{% set boot_character_delay = 10 %}
