{% extends 'mps.jinja2' %}
{% set connection_list = ['uart0'] %}
{% set connection_commands = {'uart0': '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0 --command {{ LAVA_TESTS_ROOT }}/commands.yaml'} %}
{% set connection_tags = {'uart0': ['primary', 'telnet']} %}
{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
