{% extends 'thunderx.jinja2' %}
{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
{% set connection_command = '{{ LAVA_DUMMYSYS_ROOT }}/lava-board --delay 0 --jitter 0 --command {{ LAVA_TESTS_ROOT }}/commands.yaml' %}
{% set map = {'MAC 00 (QSFP+)': {'lngswitch04': 10}, 'MAC 01 (SFP+)': {'lngswitch02': 1}, 'MAC 02 (SFP+)': {'lngswitch02': 23}, 'MAC 96': {'lngswitch01': 48}} %}
{% set tags = {'MAC 00 (QSFP+)': ['QSFP+', '40G'], 'MAC 01 (SFP+)': ['SFP+', '10G'], 'MAC 02 (SFP+)': ['SFP+', '10G'], 'MAC 96': []} %}
{% set mac_addr = {'MAC 00 (QSFP+)': '02:0f:b7:00:00:00', 'MAC 01 (SFP+)': '02:0f:b7:00:00:01', 'MAC 02 (SFP+)': '02:0f:b7:00:00:02', 'MAC 96': '68:05:ca:40:18:96'} %}
{% set interfaces = ['MAC 00 (QSFP+)', 'MAC 01 (SFP+)', 'MAC 02 (SFP+)', 'MAC 96'] %}
{% set sysfs = {'MAC 00 (QSFP+)': '/sys/devices/platform/soc@0/84a000000000.pci/pci0002:00/0002:00:02.0/0002:01:00.1/net/', 'MAC 01 (SFP+)': '/sys/devices/platform/soc@0/84a000000000.pci/pci0002:00/0002:00:02.0/0002:01:00.2/net/', 'MAC 02 (SFP+)': '/sys/devices/platform/soc@0/84a000000000.pci/pci0002:00/0002:00:02.0/0002:01:00.3/net/', 'MAC 96': ''} %}
