{% extends 'beaglebone-black.jinja2' %}
{% set connection_list = ['uart0'] %}
{% set connection_commands = {'uart0': '/bin/bash {{ LAVA_TESTS_ROOT }}/telnet.sh {{ LAVA_DUMMYSYS_ROOT }} {{ LAVA_TESTS_ROOT }}'} %}
{% set connection_tags = {'uart0': ['primary', 'telnet']} %}

{% set hard_reset_command = '/bin/true reboot' %}
{% set power_off_command = '/bin/true off' %}
{% set power_on_command = '/bin/true on' %}
{% set uboot_needs_interrupt = false %}
